.content-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 2px #bbb9b9;
    padding: 20px;
    .main-content {
        max-width: 600px;
        width: 600px;
        margin-left: 5px;
    }
}
.post {
    margin-bottom: 40px;
    text-align: start;
    border: 1px solid #ebebeb;
    border-bottom: 8px solid $primary-color;
    border-radius: 6px;
    padding: 20px;
    h4 {
        margin: 5px;
        font-family: "Armata", sans-serif;
        text-align: center;
        padding-top: 7px;
        font-weight: 500;
        font-size: 20px;
    }
    p {
        margin: 0;
        text-align: start;
        font-family: "Karla", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .post-footer {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }
    button {
        padding: 4px 10px;
    }
    .post-footer-more-detail {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        button {
            padding: 2px 12px;
            max-height: 30px;
            margin-bottom: -40px;
            border-radius: 4px;
            background-color: $primary-color;
            border-color: $primary-color;
            color: white;
            border: none;
            &:hover {
                background-color: darken($color: $primary-color, $amount: 10%);
                cursor: pointer;
            }
            &:active {
                transform: scale(0.8);
            }
        }
    }
}
.post-image {
    max-height: 250px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.widgets {
    margin-right: 10px;
    max-width: 300px;
}
.widget-wrapper {
    border-top: 2px solid $primary-color;
    margin-bottom: 10px;
    h5 {
        margin: 10px 0;
        font-family: "Armata", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.2;

    }
    .widget-container {
        padding: 15px;
        .widget-row {
            display: flex;
            
        }
    }
}
.widget-facebook-content {
    margin-left: 10px;
    

    p {
        font-family: "Karla", sans-serif;
        margin: 0;
        word-wrap: anywhere;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;

    }
}
.widget-popular-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    p {
        font-family: "Karla", sans-serif;
        margin: 0;
        word-wrap: anywhere;
        font-size: 14px;
    }
    span {
        font-family: "Karla", sans-serif;
        word-wrap: anywhere;
        font-size: 12px;
        color: #2295d8;
        font-style: normal;
    }
    
}
.widget-popular-posts-image {
        img {
            margin: 8px;
            box-shadow:  0 0 0 5px #dfdcdc
        }
}


