@import "./theme-costumise.scss";

.footer-wrapper {
    margin-top: 50px;
    background-color: #ffffff;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    h6 {
        margin: 15px 0;
        font-size: 18px;
        font-weight: 400;
        color: #1e1e20;
        text-transform: uppercase;
    }
    .footer-item {
        max-width: 240px;
        height: 180px;
        max-height: 180px;
        .footer-item-row {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #1e1e20;
            &:hover {
                text-decoration: underline;
                color: $primary-color;
                img {
                    filter: grayscale(0);
                }
                 
            }
            img {
                margin: 4px 15px 4px 0;
                filter: grayscale(1);
            }
            p {
                margin: 0;
                
            }
        }
        input {
            background-color: #e5e4e4;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
            padding: 10px;
            margin: 8px 0;
            border: none;
            outline: none;
        }
        
    }
}