@import "./theme-costumise.scss";
.header {
    background-color: #ffffff;
}
.hat {
    font-family: "Karla", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
        font-family: "Roboto", sans-serif;
        text-align: center;
        margin: 5px 0;
        font-weight: 500;
        font-size: 35px;
        color: $primary-color;
    }
    a {
        color: $hat-font-color;
        &:hover {
            color: $primary-color;
        }
    }
    ul {
        display: flex;
        align-items: center;
        font-size: 10px;
        color: $hat-font-color;
        text-transform: uppercase;
        li {
            padding: 0 15px;
        }
    }
    .hat-name {
        font-size: 16px;
        font-weight: 500;
        margin: auto 0;
        text-align: center;
        img {
            display: block;
            margin-bottom: -8px;
        }
        p {
            margin: 0;
        }
    }
    .hat-callback {
        display: flex;
        align-items: center;
    }
    ._login {
        margin: 0 0 auto;
        padding: 2px 12px;
        font-size: 14px;
        border: 1px solid #ebebeb;
        border-top: none;
        border-radius: 0 0 4px 4px;
        background-color: #ebebeb;
        box-shadow: 0 0 3px 1px #c0bfbf;

        
        
    }
}
.sticky-navigation-bar {
    border: none;
    position: fixed;
    padding-top: 0px;
    margin-top: 0;
    top: 0;
    width: 100%;
}

.navigation-bar-border {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 7px 0;
}
.navigation-bar-wrapper {
    background-color: $primary-color;
    z-index: 2000;
    .navigation-bar {
        display: flex;
        justify-content: space-between;
        .navigation-bar-title {
            margin: auto 0;
            padding: 20px 0;
            color: #ffffff;

            h3 {
                text-transform: uppercase;
                margin: 0;
                font-family: "Armata", sans-serif;
                font-size: 24px;
                font-weight: 400;
                line-height: 20px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            }
            p {
                margin: 5px 0 0;
                font-size: 13px;
                font-family: "Karla", sans-serif;
            }
        }
        .navigation-bar-menu {
            margin-top: auto;
            margin-bottom: 0px;
            .navigation-bar-items {
                display: flex;
                font-size: 12px;
                outline: none;
            }
            .MuiListItem-button {
                a {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
}
