@import "./assets/style/header.scss";
@import "./assets/style/content.scss";
@import "./assets/style/feedback.scss";
@import "./assets/style/footer.scss";
@import "./assets/style/theme-costumise.scss";
@import "./assets/style/login-form.scss";

body {
    background-color: #ebebeb;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
button:focus {
    outline: none;
}
.container {
    padding: 0 15px;
    max-width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: $link-color;
}
.about-me-img {
    float: left;
    margin: 0 30px 15px 0;
}
.wrapperClassName {
    border: 1px solid #ebebeb;
    margin: 15px 0;
}
