@import url('https://fonts.googleapis.com/css2?family=Armata&family=Karla&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: 'RobotoCondensed';
  src: local('RobotoCondensed'), url(./assets/fonts/RobotoCondensedRegular.woff) format('woff');
}


body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
